[Unit]
Description=The NGINX HTTP and reverse proxy server
After=syslog.target network-online.target remote-fs.target nss-lookup.target
Wants=network-online.target

[Service]
Type=forking
PIDFile=/usr/local/nginx1.18/logs/nginx.pid
ExecStartPre=/usr/local/nginx1.18/sbin/nginx -t -c /usr/local/nginx1.18/conf/nginx.conf
ExecStart=/usr/local/nginx1.18/sbin/nginx -c /usr/local/nginx1.18/conf/nginx.conf
ExecReload=/usr/local/nginx1.18/sbin/nginx -s reload
ExecStop=/bin/kill -s QUIT $MAINPID
PrivateTmp=true

[Install]
WantedBy=multi-user.target